img{
	width: 15%;
}
h4 {
    text-align: center;
}
h5{
    text-align: center;
}
body .computer{
    text-align: right;
    padding-left: 350px;
}
body .you{
    padding-left: 480px;
}
body .vs{
    padding-left: 700px;
}
